@using MockProject.Common
@model MockProject.DataBase.HOADON
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugin/iCheck/custom.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Quản lý hóa đơn", "Index")
            </li>
            <li class="active">
                <strong>@(Model == null || Model.ID == 0 ? "Tạo mới" : "Thông tin hóa đơn")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">


                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label"> Mã hóa đơn</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @disabled = "disabled" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nhân viên lập</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.NhanVienID, new { @class = "form-control", @disabled = "disabled" })

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div id="contentProcessContract" class="loading">
                                @Html.Action("CreateCTHD")
                                @*@Html.Partial("_EditCTHD")*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
