@using System.Linq
@using MockProject.DataBase
@using MockProject.Common
@using Newtonsoft.Json
@model List<Permission>
@{
    var allPermissions = EnumUtil.GetListPermission().ToList();
    var dic = new Dictionary<Permission, EnumUtil.NodeStatus>();
    foreach (var permission in allPermissions)
    {
        dic.Add(permission, new EnumUtil.NodeStatus()
        {
            Selected = Model.Any(x => x == permission),
            Showed = false
        });
    }
}
<link href="~/Content/plugin/JsTree/style.css" rel="stylesheet" />
<div id="jstree2"></div>

<script src="~/Scripts/jsTree3/jstree.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#jstree2').jstree({
            'plugins': ["checkbox"],
            'core': {
                'data': [
                    {
                        "text": "Nhân viên",
                        "icon": "fa fa-user",
                        "state": { "opened": false },
                        "children": [
                            {
                                "text": "Quản lý nhân viên",
                                "children": [
                                    @EnumUtil.ToTreeNode(Permission.NhanVien_CapQuyen, dic),
                                    @EnumUtil.ToTreeNode(Permission.NhanVien_Xem, dic),
                                    @EnumUtil.ToTreeNode(Permission.NhanVien_ThemSua, dic),
                                    

                                ]
                            },
                            {
                                "text": "Loại sản phẩm",
                                "children": [
                                    @EnumUtil.ToTreeNode(Permission.LoaiSanPham_Xem, dic),
                                    @EnumUtil.ToTreeNode(Permission.LoaiSanPham_ThemSua, dic),
                                    
                                    
                                ]
                            },

                        {
                            "text": "Quản lý căn hộ",
                            "children": [
                                 @*@EnumUtil.ToTreeNode(Permission.Resident_ManagerApartment, dic)*@
                            ]
                        }
                        ]
                    }


                ]
            }
        });
    });

    function GetSelectedPermisison() {
        var checked = [];
        var selelected = $("#jstree2").jstree("get_checked", true);
        $.each(selelected, function () {
            if (this.original.id) {
                checked.push(this.original.id);
            }
        });
        return checked;
    }


</script>