@using MockProject.Common
@model MockProject.DataBase.NHANVIEN
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugin/iCheck/custom.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Quản lý nhân viên", "Index")
            </li>
            <li class="active">
                <strong>@(Model == null || Model.ID == 0 ? "Tạo mới" : "Chỉnh sửa")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    @using (Ajax.BeginForm("CreateEdit", "User", null, new AjaxCommonOption(), new {role = "form", id = "MainForm"}))
                    {
                        @Html.HiddenFor(x => x.ID)
                        <div class="form-horizontal">
                            <div class="col-lg-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tên nhân viên<span style="color: Red">(*)</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.TenNV, new {@class = "form-control",@required = "" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ngày sinh</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(x => x.NgaySinh@*DateTime.Now.ToShortDateString().ToString()*@, new { @class = "form-control", data_val = "false", value = "" })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Giới tính</label>
                                        <div class="col-md-8">
                                            
                                            @Html.DropDownListFor(x => x.GioiTinh, null, new { @class = "form-control" })
                                            @*@Html.TextBoxFor(x => x.GioiTinh, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Số điện thoại</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.SoDT, new {@class = "form-control"})
                                            
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tài khoản <span style="color: Red">(*)</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.TaiKhoan, new { @class = "form-control",@required ="" })

                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mật khẩu<span style="color: Red">(*)</span></label>
                                        <div class="col-md-8">
                                            @if (Model == null)
                                            {
                                                @Html.TextBoxFor(x => x.MatKhau, new {@class = "form-control", @required = ""})
                                               // PasswordFor
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.MatKhau, new { @class = "form-control", @disabled = "disabled", @type = "password" })
                                              
                                            }
                                            
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })

                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Chức vụ </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.ChucVu, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tình trạng</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => x.TrangThai, null, new { @class = "form-control" })
                                            @*@Html.TextBoxFor(x => x.TrangThai, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Địa chỉ</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(x => x.DiaChi, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-primary" type="submit">Lưu</button>
                                    @Html.ActionLink("Hủy", "Index", null, htmlAttributes: new {@class = "btn btn-default", role = "button"})
                                </div>
                            </div>
                         
                            
                        </div>
                    }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.input-group.date')
            .datetimepicker({
                locale: 'vi',
                format: 'DD/MM/YYYY',
                extraFormats: ["MM/YYYY"],
                defaultDate: null
            });
    });

</script>