@using MockProject.Common
@using MockProject.DataBase

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu" style="display: none">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align:center">

                    <span>
                        <img src="/Content/Image/1logo.png" style="height: 100px;" />
                    </span>
                    @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@Html.ActionLink(User.Identity.GetUserName(), "Profile", "Account", routeValues: new { id = UserService.GetUserInfo().Id }, htmlAttributes: new { title = "Manage" })</strong>
                                </span>
                            </span>
                        </a>*@

                </div>
                <div class="logo-element">
                    &nbsp;
                </div>
            </li>
            @*nhân viên*@
            <li class="@Html.IsSelected(controller: "User")">
                <a href="@Url.Action("Index", "User")"><i class="fa fa-user"></i> <span class="nav-label"><b>Nhân viên</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "User", cssClass: "in")">
                    @if (UserPermission.Has(Permission.NhanVien_Xem))
                    {
                        <li class="@Html.IsSelected(action: "Index", controller: "User")"><a href="@Url.Action("Index", "User")">Quản lý nhân viên</a></li>
                    }
                    @if (UserPermission.Has(Permission.NhanVien_ThemSua))
                    {
                        <li class="@Html.IsSelected(action: "Create", controller: "User")"><a href="@Url.Action("Create", "User")">Tạo nhân viên</a></li>
                    }
                </ul>
            </li>
            @*Loại sản phẩm*@
            <li class="@Html.IsSelected(controller: "LoaiSanPham")">
                <a href="@Url.Action("Index", "LoaiSanPham")"><i class="fa fa-user"></i> <span class="nav-label"><b>Loại sản phẩm</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "LoaiSanPham", cssClass: "in")">
                    @if (UserPermission.Has(Permission.LoaiSanPham_Xem))
                    {
                        <li class="@Html.IsSelected(action: "Index", controller: "LoaiSanPham")"><a href="@Url.Action("Index", "LoaiSanPham")">Quản lý loại sản phẩm</a></li>
                    }
                    @if (UserPermission.Has(Permission.LoaiSanPham_ThemSua))
                    {
                        <li class="@Html.IsSelected(action: "Create", controller: "LoaiSanPham")"><a href="@Url.Action("Create", "LoaiSanPham")">Tạo loại sản phẩm</a></li>
                    }
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "SanPham")">
                <a href="@Url.Action("Index", "SanPham")"><i class="fa fa-user"></i> <span class="nav-label"><b>Sản phẩm</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "SanPham", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "SanPham")"><a href="@Url.Action("Index", "SanPham")">Quản lý sản phẩm</a></li>
                    <li class="@Html.IsSelected(action: "Create", controller: "SanPham")"><a href="@Url.Action("Create", "SanPham")">Tạo sản phẩm</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Kho")">
                <a href="@Url.Action("Index", "Kho")"><i class="fa fa-user"></i> <span class="nav-label"><b>Kho hàng</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Kho", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "Kho")"><a href="@Url.Action("Index", "Kho")">Quản lý kho hàng</a></li>
                    <li class="@Html.IsSelected(action: "Create", controller: "Kho")"><a href="@Url.Action("Create", "Kho")">Tạo kho</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller: "CTKho")"><a href="@Url.Action("Index", "CTKho")">Tình trạng kho hàng</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "NhapXuatKho")">
                <a href="@Url.Action("Index", "NhapXuatKho")"><i class="fa fa-user"></i> <span class="nav-label"><b>Nhập suất kho</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "NhapXuatKho", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "NhapXuatKho")"><a href="@Url.Action("Index", "NhapXuatKho")">Quản lý nhập xuất</a></li>
                    @*<li class="@Html.IsSelected(action: "Create", controller: "NhapXuatKho")"><a href="@Url.Action("Create", "NhapXuatKho")">Tạo sản phẩm</a></li>*@
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "HoaDon")">
                <a href="@Url.Action("Index", "HoaDon")"><i class="fa fa-user"></i> <span class="nav-label"><b>Hóa đơn</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "HoaDon", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "HoaDon")"><a href="@Url.Action("Index", "HoaDon")">Quản lý hóa đơn</a></li>
                    @*<li class="@Html.IsSelected(action: "Create", controller: "NhapXuatKho")"><a href="@Url.Action("Create", "NhapXuatKho")">Tạo sản phẩm</a></li>*@
                </ul>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(function () {
        $('#side-menu li.active').closest('ul').addClass('in');
        $('#side-menu li.active').closest('ul').closest('li').addClass('active');
        $('#side-menu ul.nav-second-level:not(:has(li))').parent().css('display', 'none');
        $('#side-menu').css('display', '');
    });
</script>