@*<!DOCTYPE html>
    <html>
    <head>
        <link href="~/Content/style.css" rel="stylesheet" />
        <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <link href="~/Content/fix.css" rel="stylesheet" />
        <style>
            body {
                margin: 0;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 18%;
                background-color: #1ab394;
                position: fixed;
                height: 100%;
                overflow: auto;
            }

            li a {
                display: block;
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
            }

                li a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                li a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }
        </style>
    </head>
    <body>




        <ul>
            <li>
                <a class="active"  style="text-align: center">
                    <img src="~/Content/Image/1logo.png" style="width: 200px;height: 150px" />
                </a>
            </li>
            <li style="margin-left: 20px">

                    <i class="fa fa-user"></i> <span class="nav-label"><b> Nhân viên</b></span>
                <a href="@Url.Action("Index", "User")">
                    <i class="fa fa-user"></i> <span class="nav-label">Danh sách</span>
                </a>
                <a href="@Url.Action("Create", "User")">
                    <i class="fa fa-building-o"></i> <span class="nav-label">Thêm nhân viên</span>
                </a>
                <a href="@Url.Action("Edit", "User")">
                    <i class="fa fa-file-text"></i> <span class="nav-label">Chỉnh sửa nhân viên</span>
                </a>
            </li>

            <li>
                <i class="fa fa-user"></i> <span class="nav-label"> MENU 1</span>
                <a href="">
                    <i class="fa fa-file-text"></i> <span class="nav-label"> MENU 2</span>
                </a>

            </li>

        </ul>
    </body>
    </html>*@




@*@using System.Configuration
    @using CTGroup.BO.Data
    @using CTGroup.BO.Web.Common
    @using CTGroup.BO.Services
    @using CTGroup.BO.Web.Web
    @using Microsoft.AspNet.Identity*@

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu" style="display: none">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align:center">

                    <span>
                        <img src="/Content/Image/1logo.png" style="height: 100px;" />
                    </span>
                    @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@Html.ActionLink(User.Identity.GetUserName(), "Profile", "Account", routeValues: new { id = UserService.GetUserInfo().Id }, htmlAttributes: new { title = "Manage" })</strong>
                                </span>
                            </span>
                        </a>*@

                </div>
                <div class="logo-element">
                    &nbsp;
                </div>
            </li>
            @*nhân viên*@
            <li class="@Html.IsSelected(controller: "User")">
                <a href="@Url.Action("Index", "User")"><i class="fa fa-user"></i> <span class="nav-label"><b>Nhân viên</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "User", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "User")"><a href="@Url.Action("Index", "User")">Quản lý nhân viên</a></li>
                    <li class="@Html.IsSelected(action: "Create", controller: "User")"><a href="@Url.Action("Create", "User")">Tạo nhân viên</a></li>
                </ul>
            </li>
            @*Loại sản phẩm*@
            <li class="@Html.IsSelected(controller: "LoaiSanPham")">
                <a href="@Url.Action("Index", "LoaiSanPham")"><i class="fa fa-user"></i> <span class="nav-label"><b>Loại sản phẩm</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "LoaiSanPham", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "LoaiSanPham")"><a href="@Url.Action("Index", "LoaiSanPham")">Quản lý loại sản phẩm</a></li>
                    <li class="@Html.IsSelected(action: "Create", controller: "LoaiSanPham")"><a href="@Url.Action("Create", "LoaiSanPham")">Tạo loại sản phẩm</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "SanPham")">
                <a href="@Url.Action("Index", "SanPham")"><i class="fa fa-user"></i> <span class="nav-label"><b>Sản phẩm</b></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "SanPham", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller: "SanPham")"><a href="@Url.Action("Index", "SanPham")">Quản lý sản phẩm</a></li>
                    <li class="@Html.IsSelected(action: "Create", controller: "SanPham")"><a href="@Url.Action("Create", "SanPham")">Tạo sản phẩm</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(function () {
        $('#side-menu li.active').closest('ul').addClass('in');
        $('#side-menu li.active').closest('ul').closest('li').addClass('active');
        $('#side-menu ul.nav-second-level:not(:has(li))').parent().css('display', 'none');
        $('#side-menu').css('display', '');
    });
</script>