@using MockProject.Common
@using MockProject.Resources
@model MockProject.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebSite | Login</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/control.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <style type="text/css">
        @@media (max-width: 400px) {
            .logo-name {
                width: 50%;
                margin: 0 auto;
            }
        }
    </style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @*@Html.AntiForgeryToken()
                @Html.Hidden("returnUrl", ViewBag.ReturnUrl as string)*@
                <div class="m-b">

                    <h1 class="logo-name">
                        <img src="~/Content/Image/logo.png" style="width: 100%" />
                    </h1>

                </div>
              
            if (ViewBag.Message != null)
            {
                <div class="form-group">
                    <p class="alert alert-danger">
                        @ViewBag.Message

                    </p>
                </div>
            }
            @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @required = true, @placeholder = @Language.Instance.UserName})

                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control ", @required = true, @placeholder = Language.Instance.Password})

                </div>
                <div class="form-group">
                    <div class="checkbox block full-width m-b">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.Label("RememberMe", Language.Instance.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng nhập" class="btn btn-success block full-width m-b" />
                </div>
            }
        </div>
        <p class="m-t"> <small><a href="/Account/SetCulture?culture=vi-VN">Vietnamese</a> | <a href="/Account/SetCulture?culture=en-US">English</a></small> </p>
        <p class="m-t"> <small>Welcome to Tên Nhóm website &copy; 2017</small> </p>

    </div>
</body>
</html>

