@using MockProject.Common
@using CommonData
@using PagedList.Mvc;
@model MockProject.Services.PagedSearchList<MockProject.DataBase.WAREHOUSE_TRANSACTION>
<div class="table-responsive">
    <div class="m-t-lg">
        <h5 class="m-t-lg">Tìm thấy @Model.TotalItemCount</h5>
    </div>
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>#</th>

            <th>
                Mã phiếu
            </th>
            <th>
                Loại phiếu
            </th>
            <th>
                Tên kho
            </th>
            <th>
                Ngày lập phiếu
            </th>
            <th>
                Nhân viên lập
            </th>
            <th>
                Nhân viên chỉnh sửa
            </th>
        </tr>
        @{ int index = Model.PageSize * (Model.PageNumber - 1) + 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(index++)
                </td>

                <td>
                   
                    <a href="@Url.Action("Edit1",new {id = item.ID})">@item.ID</a>
                
                </td>
                <td>
                    @item.Type.GetString()
               
                </td>
                <td>
                    
                    @(item.WAREHOUSE != null ? item.WAREHOUSE.WarehouseName : "")
                </td>
                <td>
                    @item.CreateDate
                </td>
                <td>
                    
                </td>
                <td>
                    @(item.USER !=null ? item.USER.FullName : "")
                </td>

            </tr>
        }
    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page =>
{
    Model.SearchModel.PageIndex = page;
    return Url.Action("List", Model.SearchModel);
},
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxCommonOption() { HttpMethod = "POST", UpdateTargetId = "content" }))
</div>

