@using MockProject.Common
@model MockProject.DataBase.SANPHAM
<div class="modal inmodal fade" id="modalCommission" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Bạn có chắc muốn xóa sản phẩm này</h4>
                <small class="font-bold"></small>
            </div>
            @using (Ajax.BeginForm("Delete2", "SanPham", null, new AjaxCommonOption(), new { role = "form", id = "MainForm" }))
            {
                @Html.HiddenFor(x => x.ID)
                <div class="form-horizontal">
                    <div class="col-lg-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tên sản phẩm </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.TenSP, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Loại sản phẩm</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.LOAISANPHAM.TenLoaiSanPham, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Giá bán</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.GiaBan, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Số lượng tồn </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.SoLuongTon, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Đơn vị tính</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.DonViTinh, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Hình ảnh</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.HinhSP, new { @class = "form-control", @disabled = "disabled" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" type="submit">Xác nhận</button>
                            @Html.ActionLink("Hủy", "Index", null, htmlAttributes: new { @class = "btn btn-default", role = "button" })
                        </div>
                    </div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        @*<h4 class="modal-title">Bạn có chắc muốn xóa sản phẩm này</h4>*@
                        <small class="font-bold"></small>
                    </div>
                 </div>
            }
            <div style="width: 100px">
                
            </div>
        </div>
    </div>
</div>
